/* General settings */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
    color: #333;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(214, 51, 132, 0.1) 100%);
    padding-left: 220px;
    max-width: 1200px;
    margin: 0 auto;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    filter: brightness(0); /* Make icons match text color */
}

.sidebar a:hover {
    background-color: #d63384;
    color: white;
}

.sidebar a:hover img {
    filter: brightness(5); /* Change icon color on hover */
}

.main-content {
    margin-left: 20px;
    padding: 20px;
}

h1 {
    color: #d63384;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    color: #d63384;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

p, ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.75;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li {
    margin-left: 20px;
    list-style-type: disc;
    display: flex;
    align-items: center;
}

ul li img {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

a {
    color: #0056b3;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #d63384;
}

/* Responsive design */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }
}
